
#search {
	width:100%;
	height: 600px;
	background:url(../img/search.jpg) no-repeat center;
	min-width: 1263px;
	position: relative;
}
#search .center{
	width:600px;
	height:60px;
	background-color: #000;
	position: absolute;
	top:50%;
	left:50%;
	margin:-30px 0 0 -300px; /*组件居中*/
	opacity:0.6;/*透明度*/
	border-radius: 10px; /*圆角*/
}
#search .search {
	width:446px;
	height:54px;
	background-color: #fff;
	position: absolute;
	top:50%;
	left:50%;
	margin:-27px 0 0 -296px;
	border-radius: 10px;
	border: 1px solid #666;
	font-size:20px;
	color:#666;
	padding: 0 10px;
	outline: none;
}
#search .button {
	width:120px;
	height:54px;
	background-color: #fff;
	position: absolute;
	top:50%;
	left:50%;
	margin:-27px 0 0 175px;
	border-radius: 10px;
	border: 1px solid #666;
	font-size:20px;
	color:#666;
	padding: 0 10px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
}
#tour {
	width:1263px;
	height: 1150px;
	margin:30px auto;
	/*text-align: center;*/
	/*background-color:#ccc;*/
	text-align: center;
}
#tour .center {
	
	font-family:"微软雅黑";
}
#tour .center h2 {
	font-size: 45px;
	letter-spacing: 2px;
	color:#666;
	margin:10px 0;
}
#tour .center p {
	margin:10px 0;
	color:#666;
}
/*旅游项目css*/
#tour figure{
	border:1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width: 380px;
	text-align: left;
	position:relative;
}
#tour figure img{
	vertical-align: middle;  /*可以是边框适应图片大小*/
}
#tour figcaption{	
	color:#777;
	font-size:14px;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 14px;
	padding:7px 0 5px 0;
}
#tour .info {
	padding:5px 0 0 0;
}
#tour .title{
	color:#333;
	font-weight: normal;

}
#tour .sat{
	float:right;
	font-size: 13px;
	color: #999;
	font-style:normal;
	position: relative;
	top:5px;
	right:5px;
}
#tour .price{
	color: #f60;
	font-size: 14px;
}

#tour .price strong{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}
#tour .type{
	width: 90px;
	height: 25px;
	background-color: #59b200;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color:#fff;
	position: absolute;
	top:4px;
	left:4px;
}



